body,html {
    margin:0; 
    padding:0;
    width: 100%;
    /*background-position: center;*/
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
.clearfix { clear:both; }
.wholebody {
    margin:0 auto;
    width:1260px; 
    height:980px; 
    border:1px solid black;
    background-color:white;
    position:relative;
    top:0px;
                
}
.heading{
    font-size: 30px;
    text-align:center;
    margin: auto;
}
.border{
    position:absolute; 
    font-size:16px;
    border-radius: 25px;
    background-color:#3333ff;
    width:530px;
    font-weight: bold;
    height:50px;

}
.sub_heading{
     text-align:center;
     color:white;
     font-weight: bold;
}

#circuitsection{
    position:absolute;
    border: 3px solid #3385ff; 
    top:60px;
    border-radius: 28px;
    width:530px;
    height:380px;
    right:50px;
}
#circuit{
    position:absolute; top:50px;right:80px; height:300px; width:400px;
}
#description{
    position:absolute;
    border: 3px solid #3385ff; 
    top:60px;
    border-radius: 28px;
    width:530px;
    height:380px;
    left:50px;
}
#instruction{
    position:absolute;
    margin-top: 35px; 
    }
#calculationsection{
    position:absolute;
    border: 3px solid #3385ff; 
    top:450px;
    border-radius: 28px;
    width:530px;
    height:380px;
    left:50px;
}
#calculate{
    position:absolute;
    margin-top: 55px;
    margin-left: 20px;
}
#outputsection{
    position:absolute;
    border: 3px solid #3385ff; 
    border-radius: 28px;
    top:450px;
    width:530px;
    height:380px;
    right:50px;
}
.btn{
    padding: 15px 45px;
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
#out{
    position:absolute; top:0px;right:110px; height:380px; width:400px;
}
