@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

body,html{
	background-color: #000066;
	font-family: 'Lora', serif;
}

.wholebody{
	background-color: white;
	/*position: relative;*/
	height: 950px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
}

.cktimg{
    margin-top: 90px;
    margin-left: 50px;

}
.heading{
    font-size: 30px;
    text-align:center;
    margin: auto;
}
.sub_heading{
	text-align:center;
	padding-right:150px;
	color:white;
	margin-top: 10px;"
}
.leftside, .rightside{
	height: 900px;
	width: 100%
}

/*@media screen and (min-width:768px;){

}*/

.leftside{
	background-color: white;

}

.rightside{
	background-color: white;
}
.description{
    position: absolute;
    font-size: 16px;
    margin-left: 10px;
    background-color: #3333ff;
    width: 530px;
    font-weight: bold;
    height: 50px;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   border:2px solid #3333ff;;
   min-width: 450px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;

}
.controls{
	position: absolute;
    font-size: 16px;
    background-color: #3333ff;
    margin-left: 10px;
    top: 90px;
    /*left: 0px;*/
    width: 530px;
    height: 50px;
    font-weight: bold;
}
.table{
	background-color: #e6f5ff;
    position: absolute;
    top: 50px;
    width:530px;
    height: 440px;
    left: 0px;
    overflow-y: auto;
}
.circuitsection {
    position: absolute;
    border: 2px solid #3333ff;
    /*top: 45px;*/
    width: 530px;
    margin-left: 10px;
    height: 580px;
    /*right: 210px;*/
}
.ckt{
	position: absolute;
    font-size: 16px;
    top: 0px;
    right: 0px;
    height: 50px;
    background-color: #3333ff;
    width: 528px;
    font-weight: bold;
}
.output_values{
	position: absolute;
	border: 2px solid #3333ff;
	margin-left: 10px;
	width: 530px;
    height: 300px;
    top: 590px;

}
.out_put{
	position: absolute;
    font-size: 16px;
    top: 0px;
    right: 0px;
    height: 50px;
    background-color: #3333ff;
    margin-left: 10px;
    width: 528px;
    font-weight: bold;
}
.output_graph{
	position: absolute;
	border: 2px solid #3333ff;
	margin-left: 10px;
	width: 530px;
    height: 300px;
    top: 590px;

}
.grph{
	position: absolute;
    font-size: 16px;
    top: 0px;
    right: 0px;
    height: 50px;
    background-color: #3333ff;
    width: 528px;
    font-weight: bold;
}
#out{
    position:absolute; top:0px;right:110px; height:380px; width:400px;
}
.btn_RL{
    margin-left: 20px;
    margin-top: 145px;
    width: 150px;
}
.btn_reload{
    float: right; 
    margin-right: 15px; 
    margin-top: 145px;
    width: 150px;
}


