
  
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.jtk-demo-canvas {    
    height:550px;
    /*max-height:700px;
    border:1px solid #CCC;
    background-color:white;*/
    display: flex;
    position:absolute;
    top:80px;
    left: 70px;
}
.canvas-wide {
    margin-left:0;
}

/** JSPLUMB ARTEFACTS **/
.jtk-overlay {
    z-index: 51;
}

.jtk-endpoint {
    z-index: 50;
    cursor: move;
}

.jtk-connector {
    z-index: 1;
}

/** ELEMENTS **/
.littledot_R
{
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url(littledot_R.png);
    z-index: 5;
    position: absolute;
    border-radius: 31px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.cmdLink detach{
  margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.littledot-hover-hover {
    border: 2px solid orange;
}

.dropHover {
    border: 1px solid orange;
}

/** ELEMENT POSITIONS **/
#ld1 {
 position: absolute;
    top: 110px;
    left: 20px;
}



#ld3 {
 position: absolute;
    top:95px;
    left:100px;
}

#ld4 {
 position: absolute;
    top: 95px;
    left:325px;;
}

#ld5 {
 position: absolute;
    top:130px;
    left:340px;
}
#ld6 {
 position: absolute;
    top:290px;
    left:335px;
}


#ld2 {
 position: absolute;
    top:205px;
    left:25px;
}


#ld12 {
 position: absolute;
    top: 205px;
    left: 100px;
    
}
path, .jtk-endpoint {
    cursor: pointer;
}